SIMPLAI2API_HOST=0.0.0.0
SIMPLAI2API_PORT=8031
SIMPLAI2API_ADMIN_PASSWORD=Nishibaka114514.
USE_WARP_PROXY=false
WARP_PROXY_URL=
SIMPLAI_HELPER_USE_WARP_PROXY=false
SIMPLAI_HELPER_PROXY_URL=
SIMPLAI_PROFILE_BASE_DIR=./profiles
SIMPLAI_CLOAKBROWSER_PATH=./third_party/CloakBrowser
SIMPLAI_PROTOCOL_KEYGEN_PATH=./third_party/protocol_keygen.py
CLOAKBROWSER_CACHE_DIR=./cloakbrowser-cache
